#duration-of-trip {
    text-align: center;
}

h1, h2 {
    font-family: 'Arial', sans-serif; /* Choose a font family */
    color: white; /* Set the text color */
    text-align: center; /* Center align the text */
    background-color: #2F3C7E; /* Background color to match containers */
    padding: 15px 25px; /* Add padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 20px; /* Space above the header */
    margin-bottom: 20px; /* Space below the header */
}

.intinerary-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.accommodation-container,
.activities-container,
.dining-container {
    font-family: 'Arial', sans-serif; /* Choose a font family */
    color: white; /* Set the text color */
    text-align: left; /* Align the text to the left */
    background-color: #2F3C7E; /* Background color */
    padding: 10px 20px; /* Add padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 20px; /* Space above the container */
    margin-bottom: 20px; /* Space below the container */
    display: inline-block;
    flex: 1;
}

/* Styling for intinerary list header and icons */
.header-image-container {
    display: flex;
    align-items: center; /* Center the image and header vertically */
}

.header-image-container img {
    margin-left: auto; /* Space between image and header */
}

.header-image-container h2 {
    margin: 0; /* Remove default margin to align better */
}

/* Styling for main header and home icon */
.mainHeader-image-container {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Center the content vertically */
    position: relative; /* Position the image relative to the text */
}

.header-text-container {
    text-align: center; /* Center the text within the container */
    flex-grow: 1; /* Allow the text to grow to fill the space */
}

.header-text-container h1,
.header-text-container h3 {
    margin: 0; /* Remove default margin to align better */
}

.mainHeader-image-container img {
    margin-left: auto; /* Ensure the image is pushed to the right */
    position: absolute; /* Position the image absolutely */
    right: 0; /* Align the image to the right */
    top: -5px; /* Align the image to the top */
}
