<!DOCTYPE html>
<html>
<head>
    <title>Magic Travels</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="{{ url_for('static', filename='getsPhotos.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Magic Travels</h1>
    </header>
    <div class="container">
        <div class="destination_dropdown">
            <span class="text-next-to-dropdown">Choose a Destination:</span>
            <select id="destination_select">
                <option value="Select">Select</option>
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
        <div class="duration_counter">
            <span class="text-next-to-duration">Choose Duration:</span>
            <select id="duration_select" onchange="generateInfo();">
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
            </select>
        </div>
    </div>
    <div class="generate_button">
        <button onclick="generateItinerary()">Generate Itinerary</button>
    </div>
    <div class="suggestions_container">
        <h2>Recommended Destinations</h2>
        <div class="buttons_row">
            <div class="suggest_button">
                <div class="photo-container">
                </div>
                <h2 class="place-name"></h2>
            </div>
            <div class="suggest_button">
                <div class="photo-container">
                </div>
                <h2 class="place-name"></h2>
            </div>
            <div class="suggest_button">
                <div class="photo-container">
                </div>
                <h2 class="place-name"></h2>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // Function to generate itinerary link and navigate
        function generateItinerary() {
            const destinationSelect = document.getElementById('destination_select');
            const durationSelect = document.getElementById('duration_select');
            const destination = destinationSelect.value;
            const days = durationSelect.value;

            // Navigate to the generate page with the selected parameters
            window.location.href = `/generate?destination=${encodeURIComponent(destination)}&days=${encodeURIComponent(days)}`;
        }
    </script>
</body>
</html>
